{% extends 'base.html' %}
{% load static%}

{% block content %}
<div id="primary">
    <div class="scroller">
        <ul id="fade">
            <li><img src="{% static 'images/slider-1.jpg' %}" alt="First Scroller Image" /></li>
            <li><img src="{% static 'images/slider-2.jpg' %}" alt="Second Scroller Image" /></li>
            <li><img src="{% static 'images/slider-3.jpg' %}" alt="Third Scroller Image" /></li>
        </ul>
    </div><!--End scroller-->
    <div class="feature-content">
        <h3>&#187; Игра друзей</h3>
        <h1><a href="#">Страйкбол</a></h1>
        <p class="subhead">Ты молод и любишь активный отдых? Тогда страйкбол это для тебя!</p>
        <p>Страйкбол – это командная военно-тактическая игра, в которой для поражения оппонента используется пневматическое оружие, стреляющее пластиковыми шариками</p>
    </div><!--End feature-content -->
</div><!--End primary -->

<div class="clear-block"></div>

<div id="bottom-container">
    <div id="secondary">
        <div class="inside">
            <h3>&#187; Команды и полигоны</h3>
            <div class="column">
                {% for team in teams %}
                <div class="item"><h4><a href="{{ team.get_url }}">{{ team.name }}</a></h4><p>{{ team.descriptions|truncatechars:30 }}</p></div>
                {% endfor %}
                <div class="clear-block"></div>
                <p class="view-more"><a href="{% url 'team' %}">Больше &#187;</a>
            </div><!--End column-->

            <div class="column">
                {% for polygon in polygons %}
                <div class="item"><h4><a href="{{ polygon.get_url }}">{{ polygon.name }}</a></h4><p>{{ polygon.address|truncatechars:30 }}</p></div>
                {% endfor %}
                <div class="clear-block"></div>
                <p class="view-more"><a href="{% url 'polygons' %}">Больше &#187;</a></p>
            </div><!--End column-->

        </div><!--End inside -->
    </div><!--End secondary -->
    <div id="tertiary">
        <div class="inside">
            <h3>&#187; Recent News</h3>
            <h2><a href="#">New Website</a></h2><p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. </p>
            <hr />
            <h2><a href="#">Other Headlines</a></h2><p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor.</p>
            <p class="view-more"><a href="#">All Posts &#187;</a></p>
        </div><!--End inside -->
    </div><!--End secondary -->
    <div class="clear-block"></div>
</div><!--End bottom-container-->
{% endblock %}