{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Результаты поиска: </h3>
    <div id="navigation" style="background-image: none; padding: 5px 0 0 0;">
        <div class="search" style="float: left;">
            <form action="{% url 'search' %}" method="get">
                {% csrf_token %}
                <p><input type="search" name="search" class="form-text" value="{{ search }}" style="width: 875px;"/>
                <input type="submit" value="Поиск" class="form-submit" /></p>
            </form>
        </div>
    </div>
    <p>{{sunday_games}}</p>
    <p>{{sunday_games_polygon}}</p>


</div>

{% endblock%}