{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Результаты поиска: </h3>
    <div id="navigation" style="background-image: none; padding: 5px 0 0 0;">
        <div class="search" style="float: left;">
            <form action="{% url 'search' %}" method="get">
                {% csrf_token %}
                <p><input type="search" name="search" class="form-text" value="{{ search }}" style="width: 875px;"/>
                <input type="submit" value="Поиск" class="form-submit" /></p>
            </form>
        </div>
    </div>
    <h1 class="page-title">Ближайшие игры:</h1>
    <div class="column-3">
        {% for game in sunday_games %}
        <div class="item-3">
            <img src=" {{ game.polygon.image.url }} " class="img-left" alt="spruce meadows"/>
            <h3>Полигон:</h3>
            <p class="text-8"> {{ game.polygon.name }} </p>
            <h3>Дата:</h3>
            <ul class="text-8"> {{ game.date }} <br/></ul>
            <h3>Организатор:</h3>
            <ul class="text-8"> {{ game.organizer }} <br/></ul>
        </div>
        <div class="item-4">
            <a class="view-more" href="{{ game.get_url }}">Подробнее &#187;</a>
        </div>
        {% endfor %}
    </div>



</div>

{% endblock%}