{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Команды</h3>
    <div class="column-1">
        {% for team in object_list %}
        <div class="block-left">
            <img src="{{ team.logo.url }}" class="img-left" alt="{{ team.name }}"/>
            <h2><a class="text" href="{{ team.get_url }}">{{ team.name }}</a></h2>
            <p><a class="block-right">{{ team.descriptions }}</a></p>
        </div>
        {% endfor %}

    </div><!--End column-1  -->
</div><!--End primary -->
{% endblock %}