{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Команды</h3>
    <h1 class="page-title">Все команды</h1>
    <p></p>
    <div class="column-1">
        {% for team in object_list %}
        <div class="block-left">
            {% if team.logo %}
                <img src="{{ team.logo.url }}" class="img-left" alt="{{ team.name }}"/>
            {% else %}
                <img src="{% static 'images/no-logo.jpg' %}" class="img-left" alt="{{ team.name }}"/>
            {% endif%}
            <h2><a class="text" href="{{ team.get_url }}">{{ team.name }}</a></h2>
            <p><a class="block-right">{{ team.descriptions }}</a></p>
        </div>
        {% endfor %}
    </div><!--End column-1  -->
    {% if request.user.is_authenticated and 'add_team' in perms %}
        <div class="item">
            <a class="view-more" href="{% url 'team_create' %}">Добавить команду &#187;</a>
        </div>
    {% endif %}
</div><!--End primary -->
{% endblock %}