{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href= "{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css" />

<div id="primary">
    <h3>&#187; Команды</h3>

        <h1 class="page-title">Детали команды</h1>
    <p></p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <h3>{{ field.label_tag }}</h3>
                {{ field }}
                <hr/>
            {% endfor %}
            <button type="submit">Отправить</button>
            <hr/>
        </form>
</div><!--End primary -->

{% endblock %}