{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Команды</h3>
    <div class="column-1">
        <div class="item">
            <h1 class="page-title">{{ team.name }}</h1>
            {% if team.logo %}
                <img src="{{ team.logo.url }}" class="img-center" alt="{{ team.name }}"/>
            {% else %}
                <img src="{% static 'images/no-logo.jpg' %}" class="img-left" alt="{{ team.name }}"/>
            {% endif%}
            <ul class="text-7"> {{ team.descriptions }} </ul>
            <h3>Состав:</h3>
            {% for player in team.in_team.all %}
                <ul class="text-7">
                    <li class="text-3"><a class="text" href="{{ player.get_url }}">{{ player.user.first_name }} {{ player.user.last_name }}</a></li>
                </ul>
            {% endfor %}
            <hr/>
            <a class="view-more" href="{{ team.get_url_edit }}">Редактировать &#187;</a>
        </div>
    </div>
</div>

{% endblock %}
