{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'team_player/css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Команды</h3>
    <div class="column-1">
        <div class="item">
            <h2><a class="text">{{ team.name }}</a></h2>
            <p><a class="text-3">{{ team.descriptions }}</a></p>
            <img src="{{ team.logo.url }}" class="img-left" alt="{{ team.name }}"/>
            <p><a class="text-3"> Состав: </a></p>
            {% for player in team.in_team.all %}
                <p><a class="text-3">{{ player.second_name }} {{ player.first_name }}</a></p>
            {% endfor %}

        </div>

{% endblock %}
