/*Primary ==============================    */

#primary h3 {
    color: #b3b496;
    font-family: Georgia, Palatino, serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 10px 0;
    font-weight: normal;
}

#primary h1.page-title {
    font-weight: normal;
    color: #d1a773;
    font-family: Georgia, Palatino, serif;
    font-size: 50px;
}

#primary h1 a:hover {color: #badee1;}

#primary p.subhead {
    color: #e8d4af;
    font-size: 16px;
    font-family: Georgia, Palatino, serif;
    margin: 5px 0 15px 0;
    line-height: 20px;
}

#primary h2 {
    color:#E8D4AF;
    font-family:Georgia,Palatino,serif;
    font-size:24px;
    font-weight:normal;
    letter-spacing:1px;
    line-height:20px;
    margin:0 0 10px;
}

#primary p,
#primary li {
    color: #f4e6cc;
    font-size: 11px;
    font-family: arial, verdana, sans-serif;
    line-height: 15px;
    margin-bottom: 15px;
}

#primary ul li {
    margin-left: 30px;
    list-style: square;
    margin-bottom: 5px;
}

#primary ol li {
    margin-left: 30px;
    list-style: decimal;
    margin-bottom: 5px;
}

#primary img {border: 5px solid #454439;}

#primary img.img-right {
    margin: 0 0 5px 20px;
    float: right;
}

#primary img.img-left {
    margin: 0 20px 5px 0;
    float: left;
}

#primary img.img-center {
    margin: 0 20px 5px 0;
    float: center;
    margin-bottom:30px;
}

#primary .column-1 {
    width: 100%;
    float: left;
    margin-top: 15px;
}

#primary .column-1_1 {
    width: 500px;
    float: left;
    margin-top: 15px;
}

#primary .column-2 {
    width: 460px;
    float: right;
    margin-top: 15px;
}

#primary .column-2_2 {
    width: 150px;
    float: right;
    margin-top: 15px;
}

.news #primary .column-1 {
    width: 700px;
    float: left;
    margin-top: 15px;
}

.news #primary .column-2 {
    width: 220px;
    float: right;
    margin-top: 15px;
}

#primary .item {
    border-bottom:1px dotted #8A8571;
    float:left;
    margin-bottom:20px;
    padding-bottom:15px;
}

#primary .item-2 {
    width: 950px;
    border-bottom:1px dotted #8A8571;
    float:left;
    margin-bottom:20px;
    padding-bottom:15px;
}

#primary ul,
#primary ol {margin-bottom: 20px;}

#primary .submitted {
    font-style: italic;
    font-size: 10px;
}

#primary .submitted-2 {
    font-style: arial;
    font-size: 12px;
}

#primary .text {
    text-decoration: none;
    color: #9fc5e8;
    text:active;
    text:hover;
}

#primary .text-2 {
    font-size: 11px;
    line-height: 15px;
}

#primary .text-3 {
    width: 400px;
}

#primary .text-4 {
    font-size: 12px;
    width: 950px;
    white-space: pre-wrap;
}

#primary .text-5 {
    text-decoration: none;
    color: #9fc5e8;
    text:active;
    text:hover;
    font-size: 13px;
    margin-right: 700px;
}

#primary .text-6 {
    text-decoration: none;
    color: #9fc5e8;
    text:active;
    text:hover;
    background-color: #5a5a4e;
    display:inline
}

#primary .block-left {
    width: 470px;
    height: 250px;
    overflow: auto;
    float:left;
    margin-right: 10px
}

#primary .block-left-2 {
    width: 100%;
    height: 250px;
    overflow: auto;
    float:left;
    margin-right: 10px
}

#primary .block-left-3 {
    float:left;
    width: 350px;
}

#primary .block-right {
    width: 50%;
    height: 200px;
    overflow: auto;
    text-decoration: none;
    color: #e8d4af;
    text: active;
    text: hover;
    }

#primary .table {
    font: Palatino;
    width: 650px;
    font-size: 14px;
    color: #e8d4af;
    text-align: center;
}

#primary td {
    height: 25px;
}

#primary th {
    height: 25px;
    color: #d1a773;
}