{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Контакты</h3>
    <div class="image-left">
        <img src="{% static 'images/slider-3.jpg' %}">
        <p class="text-9">Хочешь поиграть, но нет снаряжения!</p>
        <p class="text-9">Запишись на прокат: <a style="color: #d1a773;">8(928)296-25-89</a></p>
        <p class="text-9">Страйбольный клуб: <a style="color: #d1a773;">STRIKE61</a></p>
        <a class="text-10" href="{% url 'sunday_games'%}">Ближайшие игры </a>
    </div>
</div>

{% endblock %}