{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Полигоны</h3>
    <h1 class="page-title">{{ polygons.name }}</h1>
    <div class="column-1">
        <div class="item-2">
            <img src="{{ polygons.image_full.url }}" class="img-center" alt="{{ polygon.name }}"/>
            <h3>Как добраться:</h3>
            <p><a class="text-2">{{ polygons.descriptions }} </a></p>
            <hr />
            <h3>Адрес и координаты:</h3>
            <p><a class="text-2">{{ polygons.address }}</a></p>
            <ul>
                <li><a class="text-2">{{ polygons.coordinates }}</a></li>
                <li><a class="text" href="{{ polygons.url_yandex }}">{{ polygons.url_yandex|truncatechars:50 }}</a></li>
            </ul>

        </div>
    </div><!--End column-1_2  -->
</div><!--End primary -->
{% endblock %}