{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Полигоны</h3>
    <h1 class="page-title">{{ polygons.name }}</h1>
    <div class="column-1">
        <div class="item-2">
            {% if polygons.image %}
                <img src="{{ polygons.image.url }}" class="img-center" alt="{{ polygon.name }}"/>
            {% else %}
                <img src="{% static 'images/no-logo.jpg' %}" class="img-center" alt="{{ polygon.name }}"/>
            {% endif%}
            <h3>Как добраться:</h3>
            <p><a class="text-2">{{ polygons.descriptions }} </a></p>
            <hr />
            <h3>Адрес и координаты:</h3>
            <p><a class="text-2">{{ polygons.address }}</a></p>
            <ul class="text-7">
                <li><a class="text-2">{{ polygons.lon }}; {{ polygons.lat }}</a></li>
                <li><a class="text" href="{{ polygons.url_yandex }}" target="_blank">{{ polygons.url_yandex|truncatechars:50 }}</a></li>
                <li>
                    <div style="margin-top: 10px;">
                        {% include 'geomap/common.html' %}
                    </div>
                </li>
            </ul>
        </div>
        <div class="item">
            <a class="view-more" href="{{ polygons.get_url_edit }}">Редактировать &#187;</a>
        </div>
    </div><!--End column-1_2  -->
</div><!--End primary -->
{% endblock %}