{% extends 'base.html' %}
{% load static %}


{% block content %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Полигоны</h3>
    <h1 class="page-title">Места проведения воскресных игр</h1>
    <p></p>
    <div class="column-1">
        {% for polygon in object_list %}
        <div class="block-left-2">
            {% if polygon.image %}
                <img src="{{ polygon.image.url }}" class="img-left" alt="{{ polygon.name }}"/>
            {% else %}
                <img src="{% static 'images/no-logo.jpg' %}" class="img-left" alt="{{ polygon.name }}"/>
            {% endif%}
            <h2><a class="text" href="{{ polygon.get_url }}">{{ polygon.name }}</a></h2>
            <p><a class="block-right">{{ polygon.descriptions }}</a></p>
        </div>
        <hr/>
        {% endfor %}
    </div><!--End column-1  -->

    <div class="item">
         <a class="view-more" href="{% url 'polygon-create' %}">Добавить полигон &#187;</a>
    </div>
    <div class="column-1">
        <div class="item-2">
            {% include 'geomap/common.html' %}
        </div>
    </div>
</div><!--End primary -->
{% endblock %}