{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <title>Strikeball Rostov-on-Don</title>
    <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>

    <link href=" {% static 'css/reset.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href=" {% static 'css/front.css' %}" media="all" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.innerfade.js' %}"></script>

    <script type="text/javascript">
       $(document).ready(
                function(){
                    $('#fade').innerfade({
                        animationtype: 'fade',
                        speed: 'slow',
                        timeout: 2000,
                        type: 'sequence',
                        containerheight: '261px',
                        runningclass: 'innerfade'
                    });
            });
      </script>
</head>

<body class="front">
<div class="top-bar"></div><!--End top-bar -->
<div id="container">

    <div id="header">
        <h1 class="site-logo"><a href="{% url 'title' %}" class="pngfix">Paragon Stables</a></h1>
        <div id="navigation">
            <ul>
                <li><a href="{% url 'title' %}">Главная</a></li>
                <li><a href="{% url 'polygons' %}">Полигоны</a></li>
                <li><a href="{% url 'team' %}">Команды</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="search">
                <form action="#" method="post">
                    <p><input type="text" name="search" class="form-text" />
                    <input type="submit" value="Поиск" class="form-submit" /></p>
                </form>
            </div><!--End search  -->
        </div><!--End navigation -->
    </div><!--End header -->

    {% block content %}
    {% endblock %}

</div> <!--End container -->
</body>

