{% extends 'base.html' %}
{% load static %}


{% block content %}

<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"/>

<div id="primary">
    <h3>&#187; Воскрески </h3>

    {% if archive %}
        <h1 class="page-title">Архив {{ year }}</h1>
    {% else %}
        <h1 class="page-title">Ближайшие игры</h1>
    {% endif %}


    <div class="column-1_1">
        {% for game in object_list %}
        <div class="item">
            <img src=" {{ game.polygon.image.url }} " class="img-left" alt="spruce meadows"/>
            <h3>Полигон:</h3>
            <p class="text-4"> {{ game.polygon.name }} </p>
            <h3>Дата:</h3>
            <p class="submitted-2"> {{ game.date }} <br/><a class="text-5" href="{{ game.get_url }}">Информация</a>
        </div>
        {% endfor %}
        <div class="item">
            <p><a class="text-5" href="{% url 'create_game' %}">Добавить игру</a></p>
        </div>
    </div><!--End column-1_1  -->

    <div class="column-2_2">
        <h2>Архив</h2>
        <form action="{% url 'archive_game' %}" method="get">
            {% csrf_token %}
            <ul>
                <li><input class="text-6" name="year" type="submit" value="2022" /></li>
                <li><input class="text-6" name="year" type="submit" value="2023" /></li>
            </ul>
        </form>
    </div><!--End column-2_2  -->
</div><!--End primary -->

{% endblock %}